/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-title-group {
  display: flex;
  flex-direction: column !important;
  padding-left: 3rem;
  gap: 5 px;
}

.mat-grid-tile > .mat-grid-tile-content {
  display: block;
  text-align: left;
}

.mat-grid-tile > .mat-grid-tile-content > p {
  padding-inline: 10px;
}
