.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  justify-content: center;
  padding-inline: 50%;
}

@media screen and (max-width: 1250px) {
  .item-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  .item-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .item-container {
    grid-template-columns: 1fr;
  }
}

header {
  margin-top: 2rem;
  margin-inline: 1rem;
  display: flex;
  justify-content: space-evenly;
}
