<header>
  <ng-container *ngIf="categories$ | async as categories">
    <mat-form-field>
      <mat-label>Filter by category</mat-label>
      <mat-select (selectionChange)="getSpecificCategories($event)">
        <mat-option [value]="'none'">None</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <mat-form-field class="search-field">
    <input
      matInput
      type="search"
      placeholder="search..."
      (keyup)="getSearchResults($event)"
    />
    <button
      class="search-btn"
      matSuffix
      mat-icon-button
      aria-label="Search"
      disabled="true"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</header>

<ng-container *ngIf="products$ | async as products">
  <app-item [products]="products" class="item-container"></app-item>
</ng-container>
