.item-container {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

header { 
  margin-top: 2rem;
  margin-inline: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.item {
  margin: 15px;
  padding: 0;
}

.search-field {
  width: 50%;
}

.category-icons {
  font-size: 48px;
}

.btn-wrapper {
  text-align: center;
  margin-inline: 25px;
}

.category-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 50%; 
  min-height: 70px;
  margin-block: 10px;
}

.mat-progress-bar {
  position: fixed;
  width: 100%;
  z-index: 99;
}
