.example-card {
  width: 250px;
  height: 400px;
  overflow: hidden;
  /* margin: 1rem; */
}

.mat-card-image {
  object-fit: contain;
  height: 200px;
}
.mat-card-content {
  height: 150px;
}

.thirty-chars {
  width: 30ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.twenty-chars {
  width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-actions {
  display: flex;
  justify-content: space-between;
}
