<ng-container *ngFor="let product of products">
  <mat-card class="example-card">
    <img mat-card-image [src]="product.image" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>BGN: {{ product.price }}</mat-card-subtitle>
      <p class="thirty-chars">
        {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="addToCart(product)">Add to cart</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
