.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.item {
  margin: 15px;
  padding: 0;
}

header {
  text-align: center;
}

.search-field {
  margin: 10px;
  width: 50%;
}