<!-- <mat-grid-list cols="4" rowHeight="4:6">
  <mat-grid-tile *ngFor="let product of products"
    ><app-item [product]="product"></app-item
  ></mat-grid-tile>
</mat-grid-list> -->

<header>
  <mat-form-field class="search-field">
    <input matInput type="search" placeholder="search..." #productSearchInput>
    <button class="search-btn" matSuffix mat-icon-button aria-label="Search" disabled="true">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</header>

  <div class="container">
    <ng-container *ngFor="let product of products$ | async">
      <app-item [product]="product" class="item"></app-item>
    </ng-container>
    </div>