.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

/* Structure */
table {
   width: 80%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 30%;
}

.mat-column-Description, .mat-column-Price, .mat-column-Quantity, .mat-column-Image {
  padding-inline: 1rem !important;
}

.quantity {
  text-align: center;
  margin-top: .5rem;
}


img {
    object-fit: contain;
    height: 200px;
    width: 150px;
}

td, th {
    margin-inline: 10px;
}

.mat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
  margin-top: 10px;
  padding: .75rem !important;
}