.container {
padding: 30px;
}

/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.mat-card {
  margin-top: 10px;
}

.quantity {
  text-align: center;
  margin-top: .5rem;
}


img {
    object-fit: contain;
    height: 200px;
    width: 150px;
}

td, th {
    margin-inline: 10px;
}