<ng-container *ngIf="product$ | async as product">
    <mat-card class="details-card" >
        <mat-card-header>
                <img mat-card-image src="{{mainImage}}" class="card-main-image">
          <mat-card-title-group>
            <ng-container class="secondary-images" *ngFor="let image of product.images">
                <img mat-card-md-image src="{{image}}" class="secondary-images" (click)="changeMainImage(image)">
            </ng-container>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title>{{product.title}}</mat-card-title>
            <mat-card-subtitle>BGN: {{product.price}}</mat-card-subtitle>
            <p>{{product.description}}</p>
            <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
            <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
            <mat-card-subtitle>rating: {{ product.rating }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <button 
                mat-stroked-button 
                color="primary" 
                (click)="addToCart(product)">
                Add to cart
            </button>
        </mat-card-actions>
      </mat-card>
</ng-container>
