<mat-toolbar color="primary">
  <a routerLink="/" class="logo">Products</a>
  <span class="example-spacer"></span>
  <!-- Logged in buttons -->
  <ng-container *ngIf="user$ | async; else noUser">
    <a
      mat-icon-button
      class="example-icon cart"
      aria-label="Icon-button with cart"
      routerLink="/my-cart"
    >
      <ng-container *ngIf="cartItems$ | async as cart">
        <mat-icon matBadge="{{ cart?.length }}" matBadgeColor="warn"
          >shopping_cart</mat-icon
        >
      </ng-container>
    </a>
    <a
      mat-icon-button
      class="example-icon logout"
      aria-label="Icon-button with logout"
      routerLink="/profile"
    >
      <mat-icon>account_circle</mat-icon>
    </a>
  </ng-container>
</mat-toolbar>

<!-- Guest buttons -->
<ng-template #noUser>
  <a
    mat-icon-button
    class="example-icon login-icon"
    aria-label="Icon-button with login icon"
    routerLink="/sign-in"
  >
    <mat-icon>login</mat-icon>
  </a>
  <a
    mat-icon-button
    class="example-icon person_add-icon"
    aria-label="Icon-button with person_add icon"
    routerLink="/sign-up"
  >
    <mat-icon>person_add</mat-icon>
  </a>
</ng-template>
