<mat-toolbar color="primary">
  <a routerLink="/" style="text-decoration: none; color: white">Products</a>
  <span class="example-spacer"></span>
  <!-- Guest buttons -->
  <a
    *ngIf="!user"
    mat-icon-button
    class="example-icon login-icon"
    aria-label="Icon-button with login icon"
    routerLink="/sign-in"
  >
    <mat-icon>login</mat-icon>
  </a>
  <a
    *ngIf="!user"
    mat-icon-button
    class="example-icon person_add-icon"
    aria-label="Icon-button with person_add icon"
    routerLink="/sign-up"
  >
    <mat-icon>person_add</mat-icon>
  </a>
  <!-- Logged in buttons -->
  <a
    *ngIf="user"
    mat-icon-button
    class="example-icon cart"
    aria-label="Icon-button with cart"
    routerLink="/my-cart"
  >
    <mat-icon>shopping_cart</mat-icon>
  </a>
  <a
    *ngIf="user"
    mat-icon-button
    class="example-icon logout"
    aria-label="Icon-button with logout"
    routerLink="/sign-out"
  >
    <mat-icon>logout</mat-icon>
  </a>
</mat-toolbar>
